<div class="row mt-3">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                RxJS interval
            </div>
            <div class="card-body">
                <h5 class="card-title">Count</h5>
                <div class="card-text">
                    <ul id="cnt"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                RxJS Timer
            </div>
            <div class="card-body">
                <h5 class="card-title">Count</h5>
                <div class="card-text">
                    <ul id="cnt1"></ul>
                </div>
            </div>
        </div>
    </div>
</div>