<div class="row mt-3">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                RxJS of
            </div>
            <div class="card-body">
                <h5 class="card-title">Data (as String)</h5>
                <div class="card-text">
                    <ul id="of"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                RxJS from
            </div>
            <div class="card-body">
                <h5 class="card-title">Data (as Array)</h5>
                <div class="card-text">
                    <ul id="from"></ul>
                </div>
            </div>
        </div>
    </div>
</div>