<h1 class="m-3 text-center">About Us</h1>

<div class="row">
    <div class="col-md-6">
        <app-card>
            <ng-container ngProjectAs="[card-title]">
                <h5>Web Development</h5>
                <b>Price : 81000</b>
                <p><i>this is ngProjectAs example.</i></p>
            </ng-container>
            <a href="#" class="btn btn-primary">Know more</a>
        </app-card>
    </div>
    <div class="col-md-6">
        <app-card>
            <h5 class="card-title">iOS Development</h5>
            <a href="#" class="btn btn-primary">See Details</a>
        </app-card>
    </div>
    <div class="col-md-6 mt-4">
        <app-card>
            <h5 class="card-title">Android Development</h5>
            <a href="#" class="btn btn-primary">Click Here</a>
        </app-card>
    </div>
    <div class="col-md-6 mt-4">
        <app-card>
            <h5 class="card-title">Angular Development</h5>
            <a href="#" class="btn btn-primary">Know more</a>
        </app-card>
    </div>
</div>


