<div>
    <img ngSrc="/assets/images/b1.jpg" width="400" height="200" priority="high"><br>
    <img ngSrc="/assets/images/b2.jpg" width="400" height="200"><br>
    <img ngSrc="/assets/images/b3.jpg" width="400" height="200"><br>
    <img ngSrc="/assets/images/f1.jpg" width="400" height="200"><br>
    <img ngSrc="/assets/images/f2.jpg" width="400" height="200"><br>
    <img ngSrc="/assets/images/f3.jpg" width="400" height="200"><br>
    <img ngSrc="/assets/images/f4.jpg" width="400" height="200"><br>
    <img ngSrc="/assets/images/laptop1.jpg" width="400" height="200"><br>

</div>