<h1 mat-dialog-title>Add Task</h1>
<div mat-dialog-content>
    <p>What is Your task?</p>
    <mat-form-field appearance="outline" [formGroup]="addTask"
        [ngClass]="{'hasError': addTask.get('name').invalid && (addTask.get('name').touched || addTask.get('name').dirty || submit) ,'hasSuccess': addTask.get('name').valid && (addTask.get('name').touched || addTask.get('name').dirty) }">
        <mat-label>Your Task</mat-label>
        <input matInput id="name" formControlName="name">
    </mat-form-field>
    <div *ngIf="addTask.invalid && (submit || addTask.get('name').touched)">
        <small class="text-danger" *ngIf="addTask.get('name').invalid">Taskname is Required.</small>
    </div>
    <div class="mb-3 form-group"
        [ngClass]="{'hasError': fileHolder === undefined && submit ,'hasSuccess': fileHolder !== undefined }">
        <label for="image" class="form-label required mt-2">Image</label>
        <input type="file" hidden name="image" id="image" (change)="onFileSelect($event)" accept="image/*" #image>
        <div>
            <button mat-stroked-button color="primary"><mat-icon aria-hidden="false"
                    (click)="image.click()">attach_file</mat-icon></button>
            <span for="image" class="text-dark p-2"> {{fileHolder?.name}}</span>
        </div>
        <ng-container *ngIf="submit">
            <small class="text-danger" *ngIf="fileHolder === undefined">Image is
                Required.</small>
        </ng-container>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="onSubmit()" cdkFocusInitial>Save</button>
</div>