.hasError {
    color: #B80000;
}

.hasError .form-control {
    border-color: #B80000;
}

.hasSuccess {
    color: green;
}

.hasSuccess .form-control {
    border-color: green;
}

.required:after {
    color: #B80000;
    content: ' *';
    display: inline;
}