<div class="row mt-3">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                RxJS filter
            </div>
            <div class="card-body">
                <h5 class="card-title">Data </h5>
                <div class="card-text">
                    <ul *ngFor="let item of list">
                        <li>ID :- {{item.id}}, Name :- {{item.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>