table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    display: flex;
    justify-content: end;
}

td,
th {
    width: 25%;
}

th {
    color: orange;
    font-size: medium;
    background-color: ghostwhite;
}

tr,
mat-paginator {
    background-color: lightgrey;
}

.income {
    color: green;
    font-weight: 500;
}

.expense {
    color: red;
    font-weight: 500;
}

.addbtn {
    padding-right: 21px;
}