<div class="p-4">
    <h1>{{editMode === true ? 'Edit' : 'Add'}} User</h1>
    <form class="row g-3 needs-validation" #addUserForm="ngForm" (ngSubmit)="save(addUserForm)">
        <div class="col-md-6"
            [ngClass]="{'hasError': fname.invalid && (fname.touched || fname.dirty || addUserForm.submitted) ,'hasSuccess': fname.valid && (fname.touched || fname.dirty) }">
            <label for="fname" class="form-label required">First name</label>
            <input type="text" class="form-control" id="fname" name="fname" minlength="3" required
                [ngModel]="editMode ? userdata.firstname : '' " #fname="ngModel" pattern="^[a-zA-Z].*">
            <ng-container *ngIf="addUserForm.invalid && addUserForm.submitted || addUserForm.invalid && fname.touched">
                <small class="text-danger" *ngIf="fname.errors?.['required'] || fname.errors?.['pattern']">First name is
                    Required. </small>
                <small class="text-danger" *ngIf="fname.errors?.['minlength']">First name should be atleast 3
                    charactors.</small>
            </ng-container>
        </div>

        <div class="col-md-6"
            [ngClass]="{'hasError': lname.invalid && (lname.touched || lname.dirty || addUserForm.submitted) ,'hasSuccess': lname.valid && (lname.touched || lname.dirty) }">
            <label for="lname" class="form-label required">Last name</label>
            <input type="text" class="form-control" id="lname" name="lname" minlength="3" required
                [ngModel]="editMode ? userdata.lastname : '' " #lname="ngModel" pattern="^[a-zA-Z].*">
            <ng-container *ngIf="addUserForm.invalid && addUserForm.submitted || addUserForm.invalid && lname.touched">
                <small class="text-danger" *ngIf="lname.errors?.['required'] || lname.errors?.['pattern']">Last name is
                    Required. </small>
                <small class="text-danger" *ngIf="lname.errors?.['minlength']">Last name should be atleast 3
                    charactors.</small>
            </ng-container>
        </div>

        <div class="col-md-6"
            [ngClass]="{'hasError': uname.invalid && (uname.touched || uname.dirty || addUserForm.submitted) ,'hasSuccess': uname.valid && (uname.touched || uname.dirty) }">
            <label for="uname" class="form-label required">Username</label>
            <input type="text" class="form-control" id="uname" name="uname" required
                [ngModel]="editMode ? userdata.username : '' " #uname="ngModel" pattern="^[a-zA-Z0-9].*">
            <ng-container *ngIf="addUserForm.invalid && addUserForm.submitted || addUserForm.invalid && uname.touched">
                <small class="text-danger" *ngIf="uname.errors?.['required'] || uname.errors?.['pattern']">Username is
                    Required.</small>
            </ng-container>
        </div>

        <div class="col-md-6"
            [ngClass]="{'hasError': password.invalid && (password.touched || password.dirty || addUserForm.submitted) ,'hasSuccess': password.valid && (password.touched || password.dirty) }">
            <label for="password" class="form-label required">Password</label>
            <input type="password" class="form-control" id="password" name="password" required
                [ngModel]="editMode ? userdata.password : '' " #password="ngModel" appPasswordValidate>
            <ng-container
                *ngIf="addUserForm.invalid && addUserForm.submitted || addUserForm.invalid && password.touched">
                <small class="text-danger" *ngIf="password.errors?.['required']">Password is Required. </small>
                <small class="text-danger"
                    *ngIf="password.errors?.['passwordValidate'] && (password.touched || password.dirty || password.pristine)">Password
                    must
                    contain at least one Uppercase latter, one Lowercase letter, one Digit and one Special
                    charactor.</small>
            </ng-container>
        </div>

        <div class="col-12 d-flex align-items-center">
            <button class="btn btn-primary" type="submit">Save</button>
            <a [routerLink]="['/users']" routerLinkActive="router-link-active"
                class="text-decoration-none ms-3">Cancel</a>
        </div>
    </form>
</div>