<h1 style="text-align: center; color: brown;">Event Calender</h1>
<div class="m-5">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Previous
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
          Month
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
          Week
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
          Day
        </div>
      </div>
      <button class="btn btn-success float-end" (click)="addEvent()">
        Add new
      </button>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>

  <ng-template #addeditevent let-close="close">
    <form [formGroup]="addEventForm" (ngSubmit)="save()">
      <div class="modal-header">
        <h5 class="modal-title">{{isEdit ? 'Edit' : 'Add'}} Event</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-2">
          Title:
          <input type="text" name="title" formControlName="title" (change)="refresh.next()">
          <ng-container
            *ngIf="addEventForm.invalid && temp || addEventForm.invalid && addEventForm.get('title').touched">
            <small class="text-danger" *ngIf="addEventForm.get('title').invalid">Title is Required</small>
          </ng-container>
        </div>
        <div class="mb-2">
          Start Date:
          <input type="date" name="start_date" formControlName="start_date" (change)="refresh.next()">
          <ng-container
            *ngIf="addEventForm.invalid && temp || addEventForm.invalid && addEventForm.get('start_date').touched">
            <small class="text-danger" *ngIf="addEventForm.get('start_date').invalid">Start Date is Required</small>
          </ng-container>
        </div>
        <div class="mb-2">
          End Date:
          <input type="date" name="end_date" formControlName="end_date" (change)="refresh.next()">
          <ng-container
            *ngIf="addEventForm.invalid && temp || addEventForm.invalid && addEventForm.get('end_date').touched">
            <small class="text-danger" *ngIf="addEventForm.get('end_date').invalid">End Date is Required</small>
          </ng-container>
          <small class="text-danger" *ngIf="addEventForm.hasError('notValid')">Not valid Date</small>
        </div>
        <div class="mb-2">
          Color:
          <input type="color" name="color" formControlName="color" (change)="refresh.next()">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-secondary">
          {{isEdit ? 'UPDATE' : 'SAVE'}}
        </button>
      </div>
    </form>
  </ng-template>

  <ng-template #viewevent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">View Event</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="mb-2">
        <b>Title:</b>
        <pre>{{editData.title}}</pre>
      </div>
      <div class="mb-2">
        <b> Start Date:</b>
        <pre>{{editData.start | date}}</pre>
      </div>
      <div class="mb-2">
        <b> End Date:</b>
        <pre>{{editData.end | date}}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="editEvent()">
        Edit
      </button>
      <button type="button" class="btn btn-outline-secondary" (click)="deleteEvent(editData)">
        Delete
      </button>
    </div>
  </ng-template>
</div>